.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.msg {
  color: rgb(168, 167, 167);
}
